@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --strong-cyan-primary: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --big-text: 22px;
}

body {
  background-color: var(--light-grayish-cyan);
}
/* main class added flexbox */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
header {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  margin: 30px auto;
}
/* Splitter logo*/
#logo {
  width: 90px;
  height: auto;
}
/* container-calc */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 920px;
  height: 480px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--white);
}
@media screen and (max-width: 644px) {
  .container {
    height: auto;
    width: 100%;
  }
}
